@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    width: 100%;
    overflow-x: hidden !important;
}


.last-link {
    padding: 0;
}

.last-link > Button {
    min-width: calc(100%);
}

.last-link > Button::after {
    display: none;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(10%) ;
    }
}



.textArea {
    order: 2;
}


@media only screen and (min-width: 768px) {
    .textArea {
        order: 1;
    }

    .reverse .textArea {
        order: 0 !important;
    }
}


@media only screen and (max-width: 1024px) {
    .serviceBtn::after {
        display: none !important;
    }

    .serviceAnchor {
        padding: 0;
    }

}


@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 5.9% 10%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
    }
}

.glowAnimation{
    animation: glow 1.5s ease infinite;
}

.popUp{
    animation: popUpText 1s ease ;
    
}

@keyframes popUpText{
    0%{
        opacity: 0;
        transform: translateY(20px) ;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes glow{
    0%{opacity: 0.5;}
    50%{opacity: 1;}
    100%{opacity: 0.5;}
}

@layer components {
    .gradientBg{
        @apply  relative bg-gradient-to-br from-[#568BFA] via-[#0D0D0D] to-[#568BFA] z-10 rounded-xl before:bg-gradient-to-br before:from-[#231349] before:to-[#150F22] before:rounded-xl before:content-[''] before:absolute before:top-[1px] before:left-[1px] before:w-[calc(100%-2px)] before:h-[calc(100%-2px)] before:-z-10;
    }
    .fluid-container{
        @apply w-full max-w-fluid mx-auto
    }

    .btnPrimary{
        @apply relative bg-background bg-opacity-20 transition ease-in hover:bg-[#568BFA] rounded-xl py-3 
    }
}

h2,h3,h4,h5,h6{
    margin-bottom: 35px;
}

.aboutImagesActive{
    height: 20rem;
}

.aboutImages{
    height: 30rem !important;
}

@media (max-width:640px){
    .aboutImages{
      height: 20rem !important;
    }
}


.secondaryBtn{
    background: linear-gradient(#231349, #231349) padding-box, linear-gradient(320deg, #568bfa -10%, rgba(58, 100, 250, 0) 20%, rgba(24, 195, 250, 0) 30%, #568bfa 50%, rgba(58, 100, 250, 0) 70%, rgba(24, 195, 250, 0) 80%, #568bfa 110%) border-box;
    background-size: 200% 200%;
    border: 2px solid transparent;
    /* border-radius: 50px; */
    cursor: pointer;
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    width: fit-content;
}

.primaryBtn::before{
    background-image: linear-gradient(to bottom, #568BFA 0, #568BFA 4px, transparent 4px, transparent 42px, #568BFA 42px, #568BFA 45px), url("https://i.imgur.com/sRJB89C.png"), url("https://i.imgur.com/sRJB89C.png"), url('https://i.imgur.com/olRglkx.png');
    background-position: left center, top -6px right -3px, bottom -6px right -3px, top left -3px;
    background-repeat: no-repeat;
    background-size: 100%, 10px 40%, 10px 40%, 10px 100%;
    content: '';
    display: block;
    -webkit-filter: blur(.5px);
    filter: blur(.5px);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: skewX(-17deg);
    transform: skewX(-17deg);
    width: 75%;
    z-index: 12;
}

.primaryBtn{
    transition: color .3s .1s ease-out;
    height: 45px;
        line-height: 45px;
        color: #fff;
    font-size: 16px;
    height: 46px;
    line-height: 46px;
    padding: 0 6px 0 23px;
    -webkit-transition: color .3s .1s ease-out;
    transition: color .3s .1s ease-out;
    backface-visibility: hidden;
    border: none;
    display: inline-block;
    position: relative;
    text-align: center;
}

.primaryBtn::after{
    background-color: #568BFA;
    border: 1px solid transparent;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: skewX(-17deg);
    transform: skewX(-17deg);
    -webkit-transition: width .4s ease-out;
    transition: width .4s ease-out;
    width: 0;
    z-index: -1;
}

.primaryBtn:hover::after {
    width: calc(100% + 15px);
}

.formBtn:hover{
    background: linear-gradient(90deg, #568bfa, #9435ff) !important;
    border: 1px solid #9435ff;
}
.secondaryBtn:hover{
    animation: btnAnimation 1s ease;
}

@keyframes btnAnimation {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 0;
    }
}

.swiper-slide{
    transition: 1s ease;
    transform: scale(0.8) !important;
}

.swiper-slide-active{
    transform: scale(1.1) !important;
}
